.about{
    margin: calc(var(--margin-xl)*11) 0 calc(var(--margin-xl)*5) 0;
    background-color: var(--color-light);
    height: 100%;
  }
  
  .about__text{
    font-family: var(--font-secondary);
    height: 100%;
    font-size: var(--font-size-m);
    margin: 0 300px;
    color: var(--color-alpha);
    padding: var(--margin-xxl) 0;
  }

  .about::after{
    content: "";
    position: absolute;
    height: 7%;
    width: 100%;
    background: url("../assets/aboutBackground.svg") bottom center;
    background-size: 150%;
    transform: translateY(-25%) scaleY(0.5);
  }
  
  .about::before{
    content: "";
    position: absolute;
    height: 7%;
    width: 100%;
    background: url("../assets/aboutBackground.svg") top center;
    background-size: 150%;
    margin-bottom: 100px;
    transform: translateY(-75%) scaleY(0.5);
  }
  
  .about__text--color{
    color: var(--color-beta);
  }