/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

@media (min-width: 408px) {
    .header{
        margin: var(--margin-l);
        margin-bottom: calc(var(--margin-xl)*6 - var(--margin-l));
    }

    .landing__container--title{
        font-size: calc(var(--font-size-xl)/1.5);
    }
    
    .landing__container--subtitle{
        font-size: var(--font-size-s);
    }
    
    .landing__logo{
        height: 150px;;
    }
    
    .about__text{
        font-size: var(--font-size-s);
        margin: 0 var(--margin-l);
    }
    .first-time{
        margin: var(--margin-xxl) 0;
    }
    
    .first-time__container--title{
        font-size: calc(var(--font-size-l)*1.5);
        
    }

    .first-time__container--subtitle{
        font-size: var(--font-size-s);
        margin: 0 calc(var(--margin-xl));
    }

    .first-time__container{
        margin: 0 var(--margin-l);
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .landing__container--title{
        font-size: var(--font-size-xl);
    }
    
    .landing__container--subtitle{
        font-size: var(--font-size-s);
    }
    
    .landing{
        margin: calc(var(--margin-xxl)*2.4) 0;
    }

    .landing__logo{
        height: 200px;
    }
    
    .about__text{
        font-size: var(--font-size-s);
        margin: 0 var(--margin-xl);
    }

    .first-time {
        margin: calc(var(--margin-xxl)*1.5) 0 calc(var(--margin-xxl)*2.8) 0;
    }
    
    .first-time__container--title{
        font-size: calc(var(--font-size-l)*1.5);
        
    }

    .first-time__container--subtitle{
        font-size: var(--font-size-s);
        margin: 0 calc(var(--margin-xl));
    }

    .first-time__container{
        margin: 0 calc(var(--margin-xxl));
    }
}

/* Large devices (landscape tablets, desktops, 992px and up)*/

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {
    
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1360px ) {
    .landing__container--title{
        font-size: var(--font-size-xxl);
    }
    
    .landing__container--subtitle{
        font-size: var(--font-size-m);
    }
    
    .landing{
        margin: calc(var(--margin-xxl)*2.4) 0;
    }

    .landing__logo{
        height: 400px;
    }
    
    .about__text{
        font-size: var(--font-size-m);
        margin: 0 300px;
    }

    .first-time {
        margin: calc(var(--margin-xxl)*2) 0 calc(var(--margin-xxl)*2.8) 0;
    }
    
    .first-time__container--title{
        font-size: var(--font-size-xl);
        
    }

    .first-time__container--subtitle{
        font-size: var(--font-size-s);
        margin: 0 calc(var(--margin-xxl));
    }

    .first-time__container{
        margin: 0 calc(var(--margin-xxl)*3);
    }
}

@media (min-width:1600px) {
    .first-time{
        margin: calc(var(--margin-xxl)*1.5) 0 calc(var(--margin-xxl)*2.8) 0;
    }

    .first-time__container--subtitle{
        font-size: calc(var(--font-size-m)/1.2);
    }
}

@media (min-width:1800px) {
}